In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [5]:
path = r'/Users/lupeguevara/Documents/Instacart Basket Analysis'

In [6]:
path

'/Users/lupeguevara/Documents/Instacart Basket Analysis'

In [7]:
# Importing ords_prods_merged
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [8]:
ords_prods_merge.shape

(32434212, 20)

In [9]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,Busiest day,Busiest days,Busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer

In [11]:
# Group data in pandas

ords_prods_merge.groupby('product_name')

In [12]:
# Aggregated mean

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Question 3

In analyzing the result, the entire dataframe it's evident that variablility in the mean is less substantial and demonstrates no major differences between the subset. The dataframe shape determines that there are 20 rows of valid data. Analyzing the mean order we can see the minimum mean is 15 vs the subset is 11, while the maximum mean is 20 vs the subset is 19.

### Question 4

In [13]:
# Creating loyalty flag with transform() and loc()

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,Busiest day,Busiest days,Busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Average orders,20,Regular customer

### Question 5

Creating loyalty flags by deriving columns with loc()

In [15]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

### Revision Question 5

In [19]:
# Check the basic statistics of the product prices for each loyalty category

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

In [21]:
# Checking the column

ords_prods_merge[['user_id', 'order_number', 'loyalty_flag']].sample(20)

          user_id  order_number      loyalty_flag
13790926   127771            13  Regular customer
16310769    62830            22  Regular customer
5512975     32287             2  Regular customer
810597     137793            41    Loyal customer
26956560   195927             6      New customer
23215916    12300            33  Regular customer
15305811    15864            23  Regular customer
24185822   121346            22  Regular customer
23483118   116454             6  Regular customer
18144147   122578             6      New customer
11008621    95725             4  Regular customer
28006936   173951            41    Loyal customer
26132508   189401            10  Regular customer
17860441    18778            13  Regular customer
5815313     80706             8    Loyal customer
8199228     41380            16  Regular customer
7838904    194129             8      New customer
4259910    151260             5  Regular customer
21801283   183650             8    Loyal customer
13079464   205126            28  Regular customer

### In analyzing the data it seems that "Loyal customers" purchase more items on the low price scale. This may may suggest that loyal customers are buying daily items that are either less expensive and/or have more orders than most customers which makes them loyal as customers. Further analysis needed.

### Question 6

In [22]:
# Group data by 'user_id' to calculate average proces of products

ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [23]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,Busiest day,Busiest days,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Least busy,Least busy days,Least busy days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Least busy,Least busy days,Least busy days,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Regularly busy,Regularly busy,Least busy days,Average orders,20,Regular customer,8.137793

In [24]:
# Creating spending flags based on the average price across all orders

ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [26]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

### Question 7

In [27]:
# Group data by 'user_id' according to the median in the “days_since_prior_order” column

ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,Busiest day,Busiest days,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Least busy,Least busy days,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Regularly busy,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Least busy,Least busy days,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Regularly busy,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,both,Regularly busy,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,both,Regularly busy,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Least busy,Least busy days,Least busy days,Average orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,both,Regularly busy,Regularly busy,Least busy days,Most orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,both,Regularly busy,Regularly busy,Least busy days,Average orders,20,Regular customer,8.137793,Low spender,6.0

In [29]:
# Creating order frequency flags based on the median in 'days_since_prior_order'


ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [30]:
ords_prods_merge.loc[(ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [31]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [32]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [ ]:
# Export dataframe as pickle

ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated_v2.pkl'))